<div class="row" style="margin-top: 3em">
    <div class="header col-12">
      <h3 class="title textCenter">Users</h3>
      <p class="textCenter">The following items are users that left reviews in the home and kitchen items. 
        Click on any of the users to view the recommendation items for these individuals. These recommendations are based on the items from products shown in the other page. </p>
    </div>
    <div class="col-4 cursor" *ngFor="let user of users" (click)="getRecommendedItems(user.name, user.id)"  data-toggle="modal" data-target="#itemModal">
      <div class="productCaption">
        <h2>{{ user.name }}</h2>
      </div> 
    </div>
</div>

<!-- Modal --> 
<div class="fade modal" data-backdrop="static" data-keyboard="false" id="itemModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedIndividual }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Here is where the Global Baseline will go -->
        <div id="globalBaseline">
          <h3 class="title textCenter">Recommendation Items Scoring</h3>
          <p>The following are the 30 different items that are Amazon products along with a score that was calculated using the global baseline. </p>
          <div class="row">
            <ul>
              <li *ngFor="let item of items"><span class="subTitle">{{ item.itemInfo.title }}</span> with a score of {{ item.rating }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
