img{
    height: 9em; 
    margin-right: auto;
    margin-left: auto;
    display: block;
}
h2{
    font-size: 1em;
    color: #424242; 
}
h5{
    font-size: 15px;
}
.productCaption{
    padding: 1.50em 1.5em 1.4em 1.5em; 
    text-align: center; 
}
.cursor{
    cursor: pointer;
}
.allUsers{
    height: 20em;
    overflow-y: auto; 
}
.col-4{
    flex: 0 0 33.333333%;
    max-width: 30%;
    margin: 10px;
    border: 1px solid grey;
    padding: 20px 5px 5px;
    background-color: #b0c4de3b;
    border-radius: 11px;
}