.instructions{
    margin-bottom: 1em;
}
img{
    height: 9em; 
    margin-right: auto;
    margin-left: auto;
    display: block;
}
h2{
    font-size: 1em;
    color: #424242; 
}
h5{
    font-size: 15px;
}
.productCaption{
    padding: 1.50em 1.5em 1.4em 1.5em; 
    text-align: center; 
}
.cursor{
    cursor: pointer;
}
.allUsers{
    height: 20em;
    overflow-y: auto; 
}
.title{
    display: block;
    font-family: "Open Sans","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 700;
    color: #ffc4dc;
    margin: 0 0 0.5rem;
    line-height: 1.4;
}
.textCenter{
    text-align: center; 
}
p{
    max-width: 35.9375em; 
    margin-right: auto;
    margin-left: auto;
    font-style: italic; 
}
.italic{
    font-style: italic;
}
body{
    font-family: "Open Sans","HelveticaNeue","Helvetica Neue",sans-serif; 
}
.header{
    border-bottom: 1px solid gray; 
    padding-bottom: 0.5em;
    margin-bottom: 2em; 
    display: block; 
}