nav{
     background-color: rgb(255, 196, 220);
     margin-bottom: 20px;
}
li > a{
    text-transform: uppercase;
    position: relative;
    font-size: 16px;
    color: white;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
}
.navbar-brand{
    color: white;
    font-family: 'Pacifico', cursive; 
    font-size: 1.5rem; 
}

.navbar-brand:hover, li>a:hover{
    color: gray; 
}